## Python Basics

In [ ]:
print ("Hello World");

In [ ]:
x = 3;
y = "Hello"
print( x, y)


z= x
print(id(z))


print(id(x))
print (id(y))

print(x is z)

print(x is y)

# Indentation 
Python does not use braces({}) to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount.

In [ ]:
if True:
    print ("Answer")
    print ()    # Prints a blank line 
    print ("True")

else:
    print ("Answer")
    print ("False")

### Strings in Python
Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines. For example, all the following are legal

In [1]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""

print (word)
print()
print (sentence)
print()
print (paragraph)

word

This is a sentence.

This is a paragraph. It is
made up of multiple lines and sentences.

### Comments in Python

A hash sign (#) that is not inside a string literal is the beginning of a comment. All characters after the #, up to the end of the physical line, are part of the comment and the Python interpreter ignores them.   There are no multiline comments.   One has to comment each line.

In [ ]:
# First comment
print ("Hello, Python!") # second comment

### Python variables
Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable.

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

### Multiple Assignment

Python allows you to assign a single value to several variables simultaneously.

In [ ]:
a = b = c = 1

d, e, f = 1, 2, "john"

print (a,b,c)
print (d,e,f)

### Standard Data Types

 <ul style="list-style-type:square">
  <li>Numbers</li>
  <li>String</li>
  <li>List</li>
  <li>Tuple</li>
  <li>Dictionary</li>
</ul>

### Python Numbers

Number data types store numeric values. Number objects are created when you assign a value to them.

In [ ]:
var1 = 1
var2 = 10

Python supports three different numerical types 

 <ul style="list-style-type:square">
  <li>int (signed integers)</li>
  <li>float (floating point real values)</li>
  <li>complex (complex numbers)</li>
</ul>

In [3]:
var_int = 10
var_float = 10.5
var_complex = 10+5j

print(type(var_int))
print(type(var_float))
print(type(var_complex))

<class 'int'>
<class 'float'>
<class 'complex'>

### Python lists

A list contains items separated by commas and enclosed within square brackets ([]).

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1.

The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator.

In [2]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

### Python Tuples

A tuple is another sequence data type that is similar to the list.

A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.

The main difference between lists and tuples are âˆ’ Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.

In [4]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists

In [5]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple , will show error
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

### Python Dictionary
Python's dictionaries are kind of hash-table type.  A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([ ]).

Dictionaries have no concept of order among the elements.

In [6]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

### Datatype conversion


int(x [,base])   : Converts x to an integer. The base specifies the base if x is a string.

In [7]:
string1 = "111"
string2 = "1111"
float1 = 2.5

num = int (string1)   ##default base is 10
num1 = int(string1,8 )
num2 = int(string2,2)
num3 = int (float1)
print(num)
print(num1)
print(num2)
print(num3)
print(type (string1))
print(type (float1))
print(type (num1))
print(type (num2))
print(type (num3))

111
73
15
2
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

## Python Operators


Python language supports the following types of operators

 <ul style="list-style-type:square">
  <li>Arithmetic Operators</li>
  <li>Comparison (Relational) Operators</li>
  <li>Assignment Operators</li>
  <li>Logical Operators</li>
  <li>Bitwise Operators</li>
  <li>Membership Operators</li>
  <li>Identity Operators</li>
</ul>

### Python Arithmetic Operators

Assume variable **a** holds the value 10 and variable **b** holds the value 21

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td> + Addition</td>
    <td>Adds values on either side of the operator</td>
    <td>a + b = 31</td>
  </tr>
  <tr>
    <td> - Subtraction</td>
    <td>Subtracts right hand operand from left hand operand</td>
    <td>a - b = -11</td>
  </tr>
  <tr>
    <td>$*$ Multiplication</td>
    <td>Multiplies values on either side of the operatorl</td>
    <td>a * b = 210</td>
  </tr>
  <tr>
    <td>/ Division</td>
    <td>Divides left hand operand by right hand operand</td>
    <td>b / a = 2.1</td>
  </tr>
  <tr>
    <td>% Modulus</td>
    <td>Divides left hand operand by right hand operand and returns remainder</td>
    <td>b % a = 1 </td>
  </tr>
  <tr>
    <td> $**$ Exponent</td>
    <td>Performs exponential (power) calculation on operators</td>
    <td>a$**$b =10 to the power 21</td>
  </tr>
    <tr>
    <td>//</td>
    <td>Floor Division - The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity):</td>
    <td>9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
  </tr>
</table>

</body>

### Python Comparison Operators

These operators compare the values on either side of them and decide the relation among them. They are also called Relational operators.

Assume variable **a** holds the value 10 and variable **b** holds the value 20

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td> == </td>
    <td>If the values of two operands are equal, then the condition becomes true</td>
    <td>(a == b) is not true.</td>
  </tr>
  <tr>
    <td> !=</td>
    <td>If values of two operands are not equal, then condition becomes true.</td>
    <td>(a!= b) is true. </td>
  </tr>
  <tr>
    <td> > </td>
    <td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
    <td>(a > b) is not true.</td>
  </tr>
  <tr>
    <td> < </td>
    <td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
    <td>(a < b) is true.</td>
  </tr>
  <tr>
    <td>>=</td>
    <td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
    <td>(a >= b) is not true. </td>
  </tr>
  <tr>
    <td><=</td>
    <td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
    <td>(a <= b) is true. </td>
  </tr>
</table>

</body>
</html>

### Python Assignment Operators

Assume variable **a** holds the value 10 and variable **b** holds the value 20

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td> = </td>
    <td>Assigns values from right side operands to left side operand</td>
    <td>c = a + b assigns value of a + b into c</td>
  </tr>
  <tr>
    <td> += Add AND</td>
    <td>It adds right operand to the left operand and assign the result to left operand</td>
    <td>c += a is equivalent to c = c + a </td>
  </tr>
  <tr>
    <td>-= Subtract AND</td>
    <td>It subtracts right operand from the left operand and assign the result to left operand</td>
    <td>c -= a is equivalent to c = c - a</td>
  </tr>
  <tr>
    <td> $*=$ Multiply AND</td>
    <td>It multiplies right operand with the left operand and assign the result to left operand</td>
    <td>c $*=$ a is equivalent to c = c $*$ a</td>
  </tr>
  <tr>
    <td>/= Divide AND</td>
    <td>It divides left operand with the right operand and assign the result to left operand</td>
    <td>c /= a is equivalent to c = c / a </td>
  </tr>
  <tr>
    <td>%= Modulus AND</td>
    <td>It takes modulus using two operands and assign the result to left operand</td>
    <td>c %= a is equivalent to c = c % a </td>
  </tr>
  <tr>
    <td>$**=$ Exponent AND</td>
    <td>Performs exponential (power) calculation on operators and assign value to the left operand</td>
    <td>c $**=$ a is equivalent to c = c $**$ a </td>
  </tr>
  <tr>
    <td>//= Floor Division</td>
    <td>It performs floor division on operators and assign value to the left operand</td>
    <td>c //= a is equivalent to c = c // a </td>
</tr>  
  
</table>

</body>
</html>

### Python Bitwise Operators

Bitwise operator works on bits and performs bit-by-bit operation. Assume if **a = 60**; and **b = 13**; Now in binary format they will be as follows

a = 0011 1100

b = 0000 1101

-----------------

a&b = 0000 1100

a|b = 0011 1101

a^b = 0011 0001

~a = 1100 0011

Python's built-in function bin() can be used to obtain binary representation of an integer number. 

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>& Binary AND</td>
    <td>Operator copies a bit, to the result, if it exists in both operands </td>
    <td>(a & b) (means 0000 1100)</td>
  </tr>
  <tr>
    <td> | Binary OR</td>
    <td>It copies a bit, if it exists in either operand.</td>
    <td>(a | b) = 61 (means 0011 1101) </td>
  </tr>
  <tr>
    <td>^ Binary XOR</td>
    <td>It copies the bit, if it is set in one operand but not both.</td>
    <td>(a ^ b) = 49 (means 0011 0001)</td>
  </tr>
  <tr>
    <td> ~ Binary Ones Complement</td>
    <td>It is unary and has the effect of 'flipping' bits.</td>
    <td>(~a ) = -61 (means 1100 0011 in 2's complement form due to a signed binary number.</td>
  </tr>
  <tr>
    <td> << Binary Left Shift</td>
    <td>The left operand's value is moved left by the number of bits specified by the right operand.</td>
    <td>a << = 240 (means 1111 0000) </td>
  </tr>
  <tr>
    <td>>> Binary Right Shift</td>
    <td>The left operand's value is moved right by the number of bits specified by the right operand.</td>
    <td>a >> = 15 (means 0000 1111) </td>
  </tr>

</table>

</body>
</html>

### Python Logical Operators

The following logical operators are supported by Python language. Assume variable a holds True and variable b holds False

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>and Logical AND</td>
    <td>If both the operands are true then condition becomes true. </td>
    <td>(a and b) is False.</td>
  </tr>
  <tr>
    <td> or Logical OR</td>
    <td>If any of the two operands are non-zero then condition becomes true.</td>
    <td>(a or b) is True. </td>
  </tr>
  <tr>
    <td>not Logical NOT</td>
    <td>Used to reverse the logical state of its operand.</td>
    <td>Not(a and b) is True. </td>
  </tr>
 
</table>

</body>
</html>

### Python Membership Operators

Pythonâ€™s membership operators test for membership in a sequence, such as strings, lists, or tuples. There are two membership operators

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>in</td>
    <td>Evaluates to true if it finds a variable in the specified sequence and false otherwise. </td>
    <td>x in y, here in results in a 1 if x is a member of sequence y.</td>
  </tr>
  <tr>
    <td> not in</td>
    <td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
    <td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
 
</table>

</body>
</html>

### Python Identity Operators

Identity operators compare the memory locations of two objects. There are two Identity operators

<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>is</td>
    <td>Evaluates to true if the variables on either side of the operator point to the same object and false otherwise.</td>
    <td>x is y, here is results in 1 if id(x) equals id(y).</td>
  </tr>
  <tr>
    <td> is not</td>
    <td>Evaluates to false if the variables on either side of the operator point to the same object and true otherwise.</td>
    <td>x is not y, here is not results in 1 if id(x) is not equal to id(y).
</td>
 
</table>

</body>
</html>

### Python Operators Precedence


<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>S.No.</th>
    <th>Operator</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1</td>
    <td>$**$</td>
    <td>Exponentiation (raise to the power)</td>
  </tr>
  
  <tr>
    <td>2</td>
    <td>~ + -</td>
    <td>Ccomplement, unary plus and minus (method names for the last two are +@ and -@)</td>
  </tr>
  
  <tr>
    <td>3</td>
    <td>* / % //</td>
    <td>Multiply, divide, modulo and floor division</td>
  </tr>

  <tr>
    <td>4</td>
    <td>+ -</td>
    <td>Addition and subtraction</td>
  </tr>

  <tr>
    <td>5</td>
    <td>>> <<</td>
    <td>Right and left bitwise shift</td>
  </tr>

  <tr>
    <td>6</td>
    <td>&</td>
    <td>Bitwise 'AND'</td>
  </tr>

  <tr>
    <td>7</td>
    <td>^ |</td>
    <td>Bitwise exclusive `OR' and regular `OR'</td>
  </tr>

  <tr>
    <td>8</td>
    <td><= < > >=</td>
    <td>Comparison operators</td>
  </tr>
  <tr>
    <td>9</td>
    <td><> == !=</td>
    <td>Equality operators</td>
  </tr>

  <tr>
    <td>10</td>
    <td>= %= /= //= -= += *= **=</td>
    <td>Assignment operators</td>
  </tr>

  <tr>
    <td>11</td>
    <td>is is not</td>
    <td>Identity operators</td>
  </tr>

  <tr>
    <td>12</td>
    <td>in not in</td>
    <td>Membership operators</td>
  </tr>

  <tr>
    <td>13</td>
    <td>not or and</td>
    <td>Logical operators</td>
  </tr>
 
</table>

</body>
</html>

In [ ]:
x = 3;
y = "Hello"
print( x, y)


z= x
print(id(z))


print(id(x))
print (id(y))

print(x is z)

print(x is y)